.nav {
    display: flex;
    align-items: center;
    color: #e1e9fc;
    font-family: 'Roboto';
}

.navicon {
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
