.Navig{
    background: #15171c;
    height: 80px;
    display: flex;
    align-items: center;
}

.btn {
    margin-top: 0.5rem;
    padding: 1.5rem;
    font-size: 100%;
    font-weight: 200;
    border-radius: .5rem;
    border: none;
    transition: background-color .3s ease; 
  }
  .btn:hover {
    cursor: pointer;
  }
  .btn-primario {
    font-size: 100%;
    background-color: var(--gris2);
    color: var(--blanco);
  }
  .btn-primario:hover {
    background: var(--gris3);
  }

  input[type=text], select, textarea {
    width: 100%;
    height: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 100%;
    resize: horizontal;
  }

  input[type=number], select, textarea {
    width: 100%;
    height: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 100%;
  }

  input[type=date], select, textarea {
    width: 100%;
    height: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 100%;
  }
